{% extends 'website_base.html' %}

{% load static %}

{% block content %}
<!--
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const rules = `
                Rules:
                1. Do not reinvest from account balance.
                2. Upgrade your account once the company requires it.
                3. Do not create multiple accounts with the same IP address.
                4. Contact the company's online support team if you need assistance.
                5. Do not deposit lower than $50.
            `;
            alert(rules);
        });
    </script>-->

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->


<section class="main-slider">

    <div 5000="" class="swiper-container thm-swiper__slider" data-swiper-options="{" slidesperview":="" 1,="" "loop"
        :="" true,="" "effect" :="" "fade" ,="" "pagination" :="" {="" "el" :="" "#main-slider-pagination" ,="" "type"
        :="" "bullets" ,="" "clickable" :="" true="" },="" "navigation" :="" "nextel"
        :="" "#main-slider__swiper-button-next" ,="" "prevel" :="" "#main-slider__swiper-button-prev"="" "autoplay"
        :="" "delay" :="" }}"="">


        <div class="swiper-wrapper">


            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url({% static 'space/images/slide4.jpg' %});">
                </div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider__content">
                                <p>welcome to Space Launched Project Ltd. </p>
                                <h2>We understand value and deliver result</h2>
                                <a href="#" class="thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url({% static 'space/images/slide3.jpg' %});">
                </div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider__content">
                                <p>The Human Energy Company</p>
                                <h2>We define energy in human terms</h2>
                                <a href="#" class="thm-btn">Join Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url({% static 'space/images/slide5.jpg' %});">
                </div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider__content">
                                <p>welcome to Space Launched Project Ltd. </p>
                                <h2>We understand value and deliver result</h2>
                                <a href="#" class="thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url({% static 'space/images/slide6.jpg' %});">
                </div>
                <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                <div class="main-slider-shape-2"></div>
                <div class="main-slider-shape-3"></div>
                <div class="main-slider-shape-4"></div>
                <div class="main-slider-shape-5"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="main-slider__content">
                                <p>welcome to Space Launched Project Ltd. </p>
                                <h2>We understand value and deliver result</h2>
                                <a href="#" class="thm-btn">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</section>
#
</span>
</div>
<!-- Real World Start -->
<section class="real-world">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms"
        style="background-image: url({% static 'space/images/real-world-shape.png' %})"></div>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Space Launched Project has been giving best consultation to top
                Finance companies since 2012</h2>
            <span class="section-title__tagline"></span>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--Real World Single-->
                <div class="real-world__single">
                    <h2 class="real-world__title"><a href="#">Driving Human Progress</a>
                    </h2>
                    <a class="real-world__btn">We strive to use energy as efficiently as possible in our
                        operations. Using energy more efficiently helps preserve our finite natural resources,
                        lower energy costs and reduce carbon emissions so that our operations are well
                        positioned to provide affordable, reliable, and ever-cleaner energy.</a>
                    <div class="real-world__icon-box">
                        <span class="icon-analytics"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <!--Real World Single-->
                <div class="real-world__single">
                    <h2 class="real-world__title"><a href="#"> <br> Delivering Energy Worldwide</a></h2>
                    <a class="real-world__btn">Through technology and innovation, we’re executing major capital
                        projects designed to yield decades of energy. Once on line, our newest generation of
                        producers will help fuel the world’s growth for years to come.</a>
                    <div class="real-world__icon-box">
                        <span class="icon-data-wealth"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <!--Real World Single-->
                <div class="real-world__single">
                    <h2 class="real-world__title"><a href="#"> <br> Diverse Assets and a Global Presence</a>
                    </h2>
                    <a class="real-world__btn">Our portfolio spans across all forms of energy, and we have a
                        presence in most of the world’s key basins. Exploring and producing in each of these
                        regions offers exciting opportunities to meet tomorrow’s complex energy challenges.</a>
                    <div class="real-world__icon-box">
                        <span class=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Real World Start-->



<!--Welcome One Start-->
<section class="welcome-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__left">
                    <div class="welcome-one__img-box">
                        <div class="video-container portrait">
                            <iframe width="100%" height="400" src="https://www.youtube.com/embed/3vRC5TMbkaU"
                                title="What is SpaceX and why is it working with Nasa? - BBC News" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen=""></iframe>

                            <br><br>
                            <iframe height="400" width="100%"
                                src="https://ssltvc.investing.com/?pair_ID=13994&height=480&width=650&interval=300&plotStyle=area&domain_ID=72&lang_ID=72&timezone_ID=0"></iframe>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__right">
                    <h2 class="welcome-one__title">Welcome To Space Launched Project Ltd.</h2>
                    <p class="welcome-one__text"> Space Launched Project Ltd is a leader in renewable energy
                        infrastructure with more than 10,400 MW of its own power installed over 16 countries
                        across 5 continents.<br>
                        Space Launched Project Ltd has extensive oil and gas exploration and production
                        operations around the world. In 2017, we produced 2.6 million barrels per day of
                        oil-equivalent. Space Launched Project Ltd has an exceptionally strong portfolio, with
                        key operations in the world’s most important oil and gas regions. We are one of the
                        largest producer of oil and gas in Kazakhstan and Thailand, and we are the top crude
                        producer in Indonesia. In Australia, Space Launched Project Ltd is the largest holder of
                        undeveloped natural gas resources. We are among the largest holders of deepwater acreage
                        in West Africa and hold the most leases in the combined Shelf and Deepwater Gulf of
                        Mexico. We are working aggressively to capitalize on recent discoveries. These projects
                        are strategically located in regions with some of the greatest growth potential in the
                        world. </p>
                    <p class="welcome-one__text-two">Returns with a higher proportion of current income</p>
                    <div class="welcome-one__progress">
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="88%">
                                    <div class="count-text">88%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">Combined input</h4>
                        </div>
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="68%">
                                    <div class="count-text">68%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">Enhanced value</h4>
                        </div>
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="78%">
                                    <div class="count-text">1,064,783,920+</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">Total Number of Investors</h4>
                        </div>
                    </div><br>



                </div>
            </div>
        </div>
    </div>
</section>
<!--Welcome One End-->

<!--Two Boxes Start-->
<section class="two-boxes">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">we’re helping meet the world’s growing demand for
                                energy</h3>
                            <p class="two-boxes__text">We’re leaders in working in extremely difficult
                                environments, and we have major operations in some of the world’s most important
                                oil and gas regions. Our Upstream business combines innovation and the effective
                                use of technology to maximize mature fields, discover new resources and meet the
                                world’s growing demand for energy. Through targeted investments and a consistent
                                focus on operational excellence, we are developing the next generation of legacy
                                producers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">Providing Energy for Progress</h3>
                            <p class="two-boxes__text">Exploration is essential to our business. Our focus areas
                                are the deepwater U.S. Gulf of Mexico, offshore Western Australia, West Africa,
                                and shale and tight resource plays in the United States, Canada and Argentina.
                                In 2021, we plan to drill 25 exploration and appraisal wells worldwide. Our
                                technological capabilities are constantly evolving to meet new challenges and
                                play a pivotal role in bringing new resource opportunities and proved reserves
                                into production through major capital projects. Our robust project portfolio is
                                poised to bring significant new resources to global markets.<br>

                                Our robust project portfolio is poised to bring significant new resources to
                                global markets which individuals can invest in through crypto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Two Boxes End-->



<!--Our Mission Start-->
<section class="our-mission">
    <div class="our-mission-bg jarallax" data-jarallax="" data-speed="0.2" data-imgposition="50% 0%"
        style="background-image: url({% static 'space/images/our-mission-bg.jpg' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="our-mission__inner">
                    <h2 class="our-mission__title">Our Mission is to Protect <br> your funds while fueling the
                        world & <br> protecting our environment.
                    </h2>
                    <a href="{% url 'register' %}" class="thm-btn our-mission__btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Mission End-->

<!--Faq One Start-->
<section class="faq-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Our expertise</h2>
            <span class="section-title__tagline"></span>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="faq-one__left">
                    <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4><span>.</span> exploration & production</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p><b>Heavy Oil:</b> Applying our heavy oil technologies, we aim to recover
                                        billions of barrels already discovered, yet historically beyond reach.
                                        After 50 years of pioneering in the field, our investment in advanced
                                        processing technologies has dramatically increased recoverable reserves.
                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span> Refining </h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Our global refining system manufactures fuels and other products sold by
                                        our marketing, lubricants, and supply and trading organizations under
                                        the spacelaunchedprojectltd.com® and different other brands.<br><br>

                                        In all our work, operating safely, reliably and with a commitment to
                                        protecting the environment is among our top priorities. We’ve recently
                                        completed major upgrades in several of our refineries and have
                                        implemented a loss prevention system at our facilities. This
                                        behavior-based safety system is designed to help strengthen our culture
                                        of injury-free and incident-free operations while providing a base for
                                        strong, competitive performance.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span>Transportation </h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Transportation is an essential part of our operations.
                                        spacelaunchedprojectltd.com Pipe Line Company and
                                        spacelaunchedprojectltd.com Shipping Company manage safe, reliable,
                                        flexible and efficient systems that deliver energy to our customers
                                        around the globe.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4><span>.</span> Supply & Trading </h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>we supply the best products to the right locations at the right times<br>

                                        spacelaunchedprojectltd.com Supply and Trading (S&T) provides a critical
                                        link between the market and spacelaunchedprojectltd.com’s upstream,
                                        downstream and chemicals companies. We provide commercial support to our
                                        crude oil and natural gas production operations and to our refining and
                                        marketing network. S&T is headquartered in Houston, Texas, and has
                                        offices worldwide – including trading hubs in Houston, London, Singapore
                                        and San Ramon, California. Our trading professionals manage commodity
                                        transactions averaging 5 million barrels of liquids and 5 billion cubic
                                        feet of natural gas each day. Our activities are organized by crude oil,
                                        natural gas and refined products. </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="faq-one__right">
                    <div class="faq-one__img">
                        <img src="{% static 'space/images/faq-one-img-1.jpg' %}" alt="">
                    </div>
                    <div class="faq-one__bottom">
                        <div class="faq-one__list-box">
                            <ul class="list-unstyled faq-one__list">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Our values, and why they matter to us</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>These core values also define our culture</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>We hold ourselves accountable to these values</p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="faq-one__experience-box">
                            <h2>15</h2>
                            <p>Years of <br> Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Faq One End-->

<!--News One Start-->
<section class="news-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Diversity & Inclusion</h2>
            <span class="section-title__tagline"></span>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="{% static 'space/images/news-1-1.jpg' %}" alt="">
                        <a href="#">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">

                        <h3 class="news-one__title">
                            <a>Our expertise</a>
                        </h3>
                        <p class="news-one__text">From upstream exploration and production to midstream
                            transportation, power and trading to downstream manufacturing and retail, each of
                            our businesses work in concert across virtually every facet of the energy industry.
                            Guided by The spacelaunchedprojectltd.com Way, we rely on our global resources,
                            determination and ingenuity to meet today’s complex energy challenges.</p>

                        <div class="news-one__date-box">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="{% static 'space/images/news-1-2.jpg' %}" alt="">
                        <a href="#">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">

                        <h3 class="news-one__title">
                            <a>Technology</a>
                        </h3>
                        <p class="news-one__text">We harness the power of human energy to deploy the right
                            technology in the right place at the right time </p>

                        <div class="news-one__date-box">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="testimonials-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="testimonials-one__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">We deliver strong results</h2>
                        <span class="section-title__tagline">Trusted by more than 1 Billion + investors
                            globally.</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonials-one__right">
                    <div class="testimonials-one__carousel owl-theme owl-carousel">
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">We believe the future of energy is lower carbon,
                                spacelaunchedprojectltd.com intend to be a leader today and in future.

                            </p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Victoria Wright</h5>
                                <p class="testimonials-one__client-title">Ohio</p>
                            </div>

                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">The best thing I have done is join
                                spacelaunchedprojectltd.com! The change in mine and my family’s life in a short
                                space of time.
                                Here to stay! Energy to all!</p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Damien Winchester</h5>
                                <p class="testimonials-one__client-title">Manchester</p>
                            </div>

                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">I have had nothing short of a positive experience.
                                All I have shelled out is $10,000.00 and a have made that back many times over.
                                As with any company nothing goes flawless but every hurdle encountered the
                                company has overcome. 5 stars for spacelaunchedprojectltd.com.</p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Mark Kelleher</h5>
                                <p class="testimonials-one__client-title">Ukraine</p>
                            </div>

                        </div>
                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">I was skeptical when I was first introduced due to
                                the marketing frame work and then when I educated myself and of the entire
                                system I was able to see spacelaunchedprojectltd.com for what it really is. I'm
                                going to kiss my mortgage goodbye in no time at all.</p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Emily Mendez</h5>
                                <p class="testimonials-one__client-title">Spain</p>
                            </div>

                        </div>

                        <!--Testimonials One Single-->
                        <div class="testimonials-one__single">
                            <p class="testimonials-one__text">Hi everyone, Ive been a member in
                                spacelaunchedprojectltd.com since september 2020, gotten every trade of 7%
                                returns per week without any flaws. They pay out. They've kept everything
                                they've said.</p>
                            <div class="testimonials-one__client-info">
                                <h5 class="testimonials-one__client-name">Abundance Woods</h5>
                                <p class="testimonials-one__client-title">Italy</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonials One End-->


<!--Brand Three-->

<section class="brand-three">
    <h2 class="section-title__title">Our Top Sponsors</h2>
    <div class="container">

        <div 2="" 3="" 4="" 5="" 5000="" class="thm-swiper__slider swiper-container" data-swiper-options="{"
            spacebetween":="" 100,="" "slidesperview" :="" 5,="" "autoplay" :="" {="" "delay" :="" },="" "breakpoints"
            :="" "0" :="" "spacebetween" :="" 30,="" "375" :="" "575" :="" "767" :="" 50,="" "991" :="" "1199" :="" }=""
            }}"="">

            <div class="swiper-wrapper">

                <img src="{% static 'space/images/brand-3-1.png' %}" width="200" alt="">
            </div><!-- /.swiper-slide -->

            <img src="{% static 'space/images/brand-3-2.png' %}" alt="">
        </div><!-- /.swiper-slide -->

        <img src="{% static 'space/images/brand-3-3.png' %}" alt="">
    </div><!-- /.swiper-slide -->


</section>
</div>



<!--Brand Three End-->

<!--CTA One Start-->
<section class="cta-one">
    <div class="cta-one-bg" style="background-image: url({% static 'space/images/cta-one-bg.png' %});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <div class="cta-one__left">
                        <h2 class="cta-one__title">we’re delivering the best <br> customer experience</h2>
                    </div>
                    <div class="cta-one__right">
                        <a href="{% url 'register' %}" class="thm-btn cta-one__btn">let’s get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->

{% endblock %}